<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专家介绍</title>
    {include file="common/head" /}

    <style>
        .pic {
            text-align: center;
        }
        .pic img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-top: 20px;
        }
        h3{
            text-align: center;
            margin: 8px 0;
        }
        .content {
            color: #999;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="body">
            <div class="pic">
                <img src="http://134.175.152.208:8081/healthPlatform/updateImage/dc23df25-cec4-4086-a253-9d2fff28f481.jpg" alt="">
            </div>
            <h3>Sam</h3>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae impedit ducimus voluptate quisquam atque blanditiis, modi explicabo! Adipisci ipsum voluptatibus aliquam, magnam ratione rem dolorem a porro deserunt culpa consequatur?
            </div>
        </div>
        {include file="common/footer" /}
    </div>
</body>

</html>