<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享</title>
    {include file="common/head" /}

    <style>
        .body img{
            margin-top: 10px;
            max-width: 100%;
        }
        .body {
            color: #666;
            /* font-size: 16px; */
            line-height: 1.6;
        }
        .body p {
            text-indent: 30px;
            margin: 0;
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="body">
            <img src="__CDN__/assets/img/index/banner.jpg" alt="">
            <p>广东省医学装备学会医疗器械采购管理专业委员会定于2019 年11 月29 日-11 月30
                    日在深圳召开“粤港澳大湾区2019 医学装备采购管理高峰论坛”。本次论坛由广东省医
                    学装备学会医疗器械采购管理专业委员会主办、深圳大学总医院承办。大会邀请了北
                    京、上海、香港、澳门和省内从事医疗设备采购管理专家进行授课和研讨，届时国家主
                    管部门领导也将出席指导。论坛将以医疗机构医学装备采购管理为主线，从政策和技术
                    层面探讨医疗设备采购的规范化管理、风险性管控、政策走向、内控建设及新思路新方
                    法等。奋进新时代，改革再出发，南粤焕生机，鹏城秋意浓，诚挚邀请您出席会议，共
                    同为顺应国家《粤港澳大湾区发展规划纲要》规划与规范，加快构建区域医学装备管理
                    及优质医疗服务体系作贡献。</p>
        </div>
        {include file="common/footer" /}
    </div>
</body>

</html>