<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报名信息填写</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <style>
        .body {
            text-align: center;
        }
        img {
            width: 50%;
            padding: 50px;
        }
        .tip {
            color: #027ad9;
            font-size: 18px;
        }
        .backhome {
            display: inline-block;
            width: 80%;
            padding: 10px;
            margin-top: 50px;
            border-radius: 5px;
            background-color: #027ad9;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="body">
            <img src="./image/send.png" alt="">
            <div class="tip">你的报名信息提交成功！</div>
            <a class="backhome" href="./index.html"><span>返回</span></a>
        </div>
        <div class="footer space">
                <img src="./image/support.png" alt="support">
            </div>
            <div class="tabbar">
                <a class="back" href="./index.html">
                    <i class="icon icon-home"></i>
                    <span>首页</span>
                </a>
                <a class="sign" href="javascript:;">
                    <i class="icon icon-edit"></i>
                    <span>报名</span>
                </a>
            </div>
    </div>
</body>
</html>